$bojaTeme : #b1b1d3;
$bledaSiva: rgba(255,255,255,.6);


html, body{
  font-family: Tahoma;
  color: #444;
  letter-spacing: 1px;
  min-width: 640px;
}
*{
  margin: 0;
}

h1,h2,h3{
  font-weight: normal;
}
h1,h3{
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,.5);
}

// * { outline: 2px dotted red }
// * * { outline: 2px dotted green }
// * * * { outline: 2px dotted orange }
// * * * * { outline: 2px dotted blue }
// * * * * * { outline: 1px solid red }
// * * * * * * { outline: 1px solid green }
// * * * * * * * { outline: 1px solid orange }
// * * * * * * * * { outline: 1px solid blue }

#container{
  width: 90%;
  max-width: 760px;
  margin: 10px auto;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0,0,0,.5);
  overflow: hidden;
}

#header{
  background: $bojaTeme;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0 10px 0;
  h3{
    margin: 5px 0;
  }
  #search{
    width: 100%;
  }
  input{
    margin: 0 20%;
    padding: 5px;
    border-radius: 5px;
    width: 60%;
    &:focus{
      outline: none;
    }
  }
}

#listContainer{
  h2{
    padding: 5px 20px;
  }
  ul{
    display: block;
    margin-bottom: 10px;
    max-height: 248px;
    overflow-y: auto;
    transition: 200ms;
    transition-property: max-height, height;
    li{
      max-width: 95%;
      list-style: none;
      display: flex;
      box-shadow: 0 1px 4px rgba(0,0,0,.2);
      border-radius: 10px;
      overflow: hidden;
      margin: 0 10px 7px 0;
      &::before{
        content: '';
        background: rgba(0,0,0,.1);
        width: 10px;
      }
      transition: 130ms;
      transition-property: background, box-shadow, text-shadow;
      &:hover{
        box-shadow: 0 2px 5px rgba(0,0,0,.2);
        .delete{
          background: $bojaTeme;
          text-shadow: 1px 1px 4px rgba(0,0,0,.5);
        }
        &::before{
          background: $bojaTeme;
        }
      }

      span{
        display: inline-block;
        padding: 18px;
      }
      .name{
        flex: 1 1 0;
      }
      .delete{
        background: #c8ccd3;
        color: white;
        &:focus{
          outline: none;
        }
        &:hover{
          background: grey;
          cursor: pointer;
        }
      }
    }
  }
}

#addNote{
  position: relative;
  display: flex;
  flex-direction: column;
  background: $bojaTeme;
  #hideDiv{
    margin: 5px 0 0 10%;
    color: white;
    font-size: 12px;
    text-shadow: 1px 1px grey;
  }
  li{
    list-style: none;
    margin: 10px 35px 10px 40px;
    border-radius: 10px;
    display: flex;
    flex: 1 1 55px;
    justify-content: space-between;
    overflow: hidden;
    background: lightgrey;
    box-shadow: 0 1px 5px rgba(255,255,255,.8);
    input, button{
      padding: 18px;
      border: none;
    }
    div{
      width: 10px;
      background-color: transparent;
      box-shadow: none;
    }
    input{
      background-color: $bojaTeme;
      flex: 1 1 0;
      text-align: right;
      color: white;
      font-size: 18px;
      text-shadow: 1px 1px grey;
      &::placeholder{
        color: white;
        font-size: 18px;
      }
      &:focus{
        outline: none;
      }
    }
    button{
      max-width: 85px;
      margin-right: 5px;
      font-weight: bolder;
      background: transparent;
      color: grey;
      &:focus{
        outline: none;
      }
    }
    transition: 130ms;
    transition-property: box-shadow,background;
    &:hover{
      box-shadow: 0 2px 7px rgba(255,255,255,.8);
      background: white;
      button{
        cursor: pointer;
      }
    }
  }
  span{
    position: absolute;
    top: 8px;
    right: 45px;
    padding: 4px;
    color: white;
    font-size: 12px;
    background: grey;
    border-radius: 5px;
    transition: 200ms;
    transition-property: opacity;
    opacity: 0;
    &::after{
      position: absolute;
      content: '';
      bottom: -20px;
      right: 10%;
      border-width: 10px;
      border-style: solid;
      border-color: grey transparent transparent transparent;
    }

  }
}

#tabbed-content{
  background: $bojaTeme;
  padding-top: 10px;
  display: flex;
  color: rgba(0,0,0,.6);
  .tabs{
    display: flex;
    width: 230px;
    flex-direction: column;
    li{
      list-style: none;
      background: $bledaSiva;
      border-radius: 5px;
      margin: 0 5px 5px -20px;
      padding: 5px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      &.active{
        box-shadow: 2px 1px 4px rgba(0,0,0,.4);
      }
    }
  }
  .panel{
    position: relative;
    display: none;
    flex: 1 1 0;
    justify-content: space-around;
    align-items: center;
    background: $bledaSiva;
    padding: 7px 15px;
    margin: 0 20px 10px 15px;
    border-radius: 5px;
    box-shadow: 2px 1px 4px rgba(0,0,0,.4);
    font-size: 14px;
    img{
      width: 60px;
    }
    &.active{
      display: flex;
    }
  }
  #about::before{
    position: absolute;
    content: '';
    border-width: 12px;
    border-style: solid;
    border-color: transparent $bledaSiva transparent transparent;
    left: -24px;
    top: 3px;
  }
  #contact::before{
    position: absolute;
    content: '';
    border-width: 12px;
    border-style: solid;
    border-color: transparent $bledaSiva transparent transparent;
    left: -24px;
    top: 35px;
  }
}
